body{
    background-color: #c4e3f3;
}

.hr{
    margin: 10px;

}
.main{
    margin: 30px;
    background-color: white;
    height: auto;
}
.btn-publish{
    float: right;
    margin-top: 6px;
    margin-bottom: 6px;
}
.media-object{
    height: 38px;
    width: 38px;
}

.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.row-content{
    margin-top: 30px;
    margin-: 15px;
}
.creator{
    padding-top: 11px;
}
.creator-min{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.question-text{
    margin-top: 10px;
}
.relpy{
    margin-top: 30px
}
.icon-img{
    margin-right: 6px;
    color: #999;
    cursor:pointer;
}
.icon-img:hover{
    color: #28a4c9;
}

.icon-img.active{
    color:#28a4c9;
}
.collapse-relpy{
    margin-left: 10px;
    border: 1px solid #eee;
    padding-top: 10px;
}