body{
    background-color: #c4e3f3;
}
.main{
    margin: 30px;
    background-color: whitesmoke;
    height:-webkit-fill-available;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;
}
.media-object{
    height: 38px;
    width: 38px;
}

.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}